body {
  background: linear-gradient(
    90deg,
    rgb(222, 21, 21) 0%,
    rgb(13, 69, 198) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.todo-wrapper {
  margin: 50px auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px;
  font-weight: 300;
  text-align: center;
  padding-left: 20px;
  width: 500px;
}

.todo-wrapper h2 {
  margin: 0;
}

.todo-wrapper p {
  font-style: italic;
  color: #000;
  margin: 5px 0;
}

.todo-wrapper ol {
  margin: 20px 0;
  padding: 0;
}

.todo-wrapper ol li {
  margin: 5px 0;
  padding: 3px;
  user-select: none;
  transition: all 0.5s ease-out;
}

.todo-wrapper ol li:nth-child(even) {
  background: #ddd;
}

.todo-wrapper .completed {
  text-decoration: line-through;
  color: black;
}

.todo-wrapper .pretty-button {
  margin: 10px 2px;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: rgb(30, 195, 181);
  border: none;
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size: small;
  cursor: pointer;
  transition: opacity 0.3s;
}

.todo-wrapper .pretty-button:hover {
  opacity: 0.75;
}

.todo-wrapper input {
  padding: 3px 6px;
}

.todo-wrapper form {
  display: inline-block;
}

#control-wrapper {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#clear-button {
  background-color: rgb(30, 195, 181);
}

#empty-button {
  background-color: rgb(245, 173, 113);
}

#save-button {
  background-color: rgb(245, 113, 225);
}

#todo-list {
  text-align: left;
  padding-left: 50px;
  padding-right: 27px;
}
